/* HEADER */
#header header{
    align-items: center;
    margin-bottom: 10px;
}
#header .menu{
    background-color: #3a7066;
    height: 50px;


}
#header header div{
    text-align: center;
    color: black;
    height: 115px;
}

#header .menu ul{
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style-type: none;
    margin-left: 25%;
    padding: 0;
    padding-top: 15px;
    font-size: 20px;

}

#header .menu ul a{
    text-decoration: none;
    color: white;
}