#roman #last-news{
    width: 80%;
    margin-left: 10%;
    height: 555px;
    background-color: lightgrey; 
    text-align: center;
}
#roman #last-news h3{
    margin: 6px;
    padding-top: 6px;
}
#roman #last-news p{
    margin: 10px;

}
#roman #img4{
    width: 80%;
    margin-left: 10%;

}

#roman .news{
    width: 80%;
    height: 250px;
    background-color: lightgrey; 
    margin-left: 10%;
    text-align: center;
}
#roman .news p{
    margin: 10px;
}
#roman .news h4{
    padding-top: 15px;

}
