body{
    font-family: "roboto";
}
p{
    font-size: 1.2em;
}
h2{
    font-size: 3em;
}
h3{
    font-size: 1.7em;
}
button.lire{
    width:60px;
	height:60px;
	background:white;
	font:bold 13px Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}

/* fontawesome */
.fa-book-open{  
    color: #3a7066;
    font-size: 30px;
}
